body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; /* Light background for contrast */
}

.Main {
  position: relative;
  text-align: center;
}

.Position-well {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}

.background-container {
  position: relative;
}

.background-pic {
  width: 100%;
  height: auto;
  display: block;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.thumbnails div {
  margin: 10px;
  transition: transform 0.3s;
}

.thumbnails div:hover {
  transform: scale(1.1); /* Scale effect on hover */
}

.thumbnails img {
  width: 150px; /* Set a uniform width for thumbnails */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Title Styles */
.title {
  font-size: 55px;
  color: rgb(84, 7, 7);
  font-style: italic;
  text-decoration: underline; 
  text-decoration-color: rgb(255, 179, 38); 
}

.title2, .title3, .title4 {
  font-size: 26px;
  color: white;
  margin: 10px 0;
}

.title2 {
  margin-bottom: 40px;
}

.title4 {
  color: brown;
  font-style: italic;
  text-decoration: underline;
}

/* Button Styles */
.button {
  font-size: 22px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  color: rgb(70, 7, 7);
  background-color: rgb(255, 166, 0);
  border: none;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(255)
  }